//Layout Styles

header.masthead {
	background-color: $dark-blue;
	padding-top: 10rem !important;
  padding-bottom: calc(10rem - #{$navbar-height}) !important;
}

.hero-image {
	width: 100% \9; 
	height: auto;
	margin: auto;
}

#team {
	background-color: $grey-team-bg;
}

#portfolio {
	.my-card {
		background-color: #9a9a9a;
		color: #ebebeb;
	}
	.center-button { 
		text-align: center;
	}
}

#contact {
	background-color: #eeeeee;

	.mybutton {
		background-color: $dark-blue;
		color: #E3E5E8;
	}
}