//Layout Styles

header.masthead {
	background-color: $dark-blue;
	padding-top: 10rem !important;
  padding-bottom: calc(10rem - #{$navbar-height}) !important;
}

.hero-image {
	width: 100% \9; 
	height: auto;
	margin: auto;
}

